.example-card-box {
  display: flex;
  flex-wrap: wrap;
  // gap: 20px; /* applies consistent spacing between all children */
  gap: 15px;
  padding: 15px;
}

.color-blue {
  color: blue;
}

.background-color-light-blue {
  background-color: rgb(215, 227, 230);
  padding: 10px;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}

.example-card-box > div {
  flex: 1 1 calc(25% - 20px); /* 4 columns minus the gap */
  box-sizing: border-box;
  min-width: 250px; /* ensure responsive fallback */
  margin: 5px;
}

.example-card {
  max-width: 400px;
  margin-bottom: 8px;
}

.flex-child-container {
  display: flex;
  width: 100%;
  padding-bottom: 8px;
}

:host ::ng-deep .mat-mdc-text-field-wrapper {
  background-color: #f0f0f0;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 99.5%;
  margin: 16px auto;
  flex-wrap: wrap;
}

.filter-select {
  width: 160px;
}

/* Fix height and alignment of mat-form-field */
.search-bar {
  flex: 1;
  margin: 0;
}

/* Match button height */
.search-btn {
  height: 50px;
  //border-radius: 6px;
  line-height: 40px;
  padding: 5px 5px;
  min-width: 80px;
  margin: 5px;
  position: relative;
  top: -8px;
}
