<div class="box">
  <nav class="flex-container">
    <div class="left-nav-group">
      <h1 class="color-blue mr-3">IMDB</h1>
      <div class="nav-links">
        <a
          routerLink="/"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Movies & Webseries
        </a>
        <a
          routerLink="/actors"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          >Actors</a
        >
      </div>
    </div>
    <div class="nav-links">
      <a routerLink="/auth/login">
        <button class="btn btn-primary left-alignment" *ngIf="!isAuthorized()">
          <i class="fa-solid fa-right-to-bracket"></i> LogIn
        </button>
      </a>
    </div>
    <button
      class="btn btn-danger left-alignment"
      (click)="LogOut()"
      *ngIf="isAuthorized()"
    >
      <i class="fa-solid fa-right-from-bracket"></i>
      Logout
    </button>
  </nav>

  <div class="m-3 product-container">
    <router-outlet></router-outlet>
  </div>
</div>
