// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use "@angular/material" as mat;
@use "bootstrap/scss/bootstrap";
html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
} /* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

html,
body {
  height: 100%;
  ::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.help-block {
  font-size: 14px;
  margin-top: 5px;
}

.text-danger {
  color: red;
}

.snack-success {
  background-color: blue; /* green */
  color: white;
}
